/* ----- contour ----- */
html {
  font-size: 62.5%;
}

header, div, nav, ul, li, span, figure, figcaption, section, article, h1, aside {
  box-sizing: border-box;
}

a {
  display: block;
  text-decoration: none;
}

body {
  font-size: 2rem;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ----- contour ----- */
.container {
  display: grid;
  grid:
  "header header header header header header header"
  "aside main main main main main mian"
  "footer footer footer footer footer footer footer";
}

#header {
  grid-area: header;
}

#aside {
  margin-top: 1rem;
  grid-area: aside;
}

#main {
  grid-area: main;
}

#footer {
  margin-top: 1rem;
  grid-area: footer;
}