/* 특정 태그 적용 */
a {
  text-decoration: none;
}
div, figure, nav, ul, li, a, section, article, span, header {
  box-sizing: border-box;
}

/* 본문 공통 글 스타일 */
.common-font {
  font-size: 1.2rem;
}

/* font-awesome */
.fa-github, .fa-blog {
  color: black;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100vw;
  height: 200vh;
  background: url(https://ssl.pstatic.net/static/blog/skin/05_skin_top.jpg) 50% no-repeat;
}

/* 배경 이미지 */
.background {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

/* 컨텐츠 박스 */
.content {
  flex-direction: column;
  width: 40%;
  height: 90%;
  background-color: #b7e1e4;
  box-shadow: 10px 10px 10px #808080;
}

/* 메뉴바 */
.menu {
  width: 90%;
  height: 10%;
  border-bottom: 3px solid #808080;
}

.menu-link {
  padding: 30px;
}

.menu-link__txt {
  font-size: 1.2rem;
  font-family: 'Sunflower', sans-serif;
}

.menu-link:link {
  color: #808;
}

.menu-link:visited {
  color: #808;
}

.menu-link:hover .menu-link__txt {
  border-bottom: 3px solid #808;
}

/* 마스코트 이미지 */
.mascot {
  width: 100%;
  height: 70%;
}

/* 환영 인사 문구 */
.greeting {
  width: 70%;
  height: 10%;
  flex-direction: column;
}

.greeting-message {
  font-size: 2rem;
  font-family: 'Markazi Text' ,serif;
}


/* 자기소개 본문 */
.introduce {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 40%;
  padding: 15px;
}

.introduce-title {
  height: 10%;
}

.introduce-image {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.introduce-image-container {
  display: flex;
  align-items: flex-start;
  height: 80%;
}

.introduce-image__profile-image {
  width: 25%;
  height: 90%;
  margin-right: 20px;
  border: 10px solid #5dbcc2;
  border-radius: 50%;
}

.introduce-image__profile-explanation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  height: 100%;
}

.introduce-image__profile-explanation p {
  margin-top: 10px;
}

.sns-link {
  display: flex;
  justify-content: center;
  height: 20%;
}

.sns-link__github {
  margin-right: 40px;
}

/* 관심사 */
.interest {
  width: 90%;
  height: 50%;
}

.interest-title {
  height: 5%;
}

.interest-list { /* .flex-center */
  flex-wrap: wrap;
  width: 100%;
  height: 95%;
  border: 1px solid red;
}

.interest-list-item { /* .flex-center */
  width: 50%;
  height: 50%;
}

.interest-list li:nth-child(1) {
  background-color: #ff7f50d9;
}

.interest-list li:nth-child(2) {
  background-color: #ff7f50d9;
}

.interest-list li:nth-child(3) {
  background-color: #ff7f50d9;
}

.interest-list li:nth-child(4) {
  background-color: #ff7f50d9;
}

.interest-list-item span {
  font-size: 3rem;
  color: #eee;
}